{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Signup</h1>
    <form>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Enter your name">

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Enter your email">

      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter your password">

      <button type="submit">Sign up</button>
    </form>
  </div>
  <style>
    /* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-image:url("static/quote.png");
  background-size:cover;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
  </style>

{% endblock %}